@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx:before
{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

section .contentBx{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
  align-items: center;
}

section .contentBx .formBx{
  width: 50%;  
}

section .contentBx .formBx h2{
    color: #03a9f4;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}


section .contentBx .formBx h3{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

section .contentBx .formBx .input-field{
    margin-bottom: 20px;

}

section .contentBx .formBx .input-field span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentBx .formBx .input-field input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color: cyan;
     background: transparent;
     border-radius: 20px;
}
section .contentBx .formBx .input-field input[type="submit"]{
 background: cyan;
 color: white;
 outline: none;
 border: none;
 font-weight: 500;
 cursor: pointer;
}
section .contentBx .formBx .input-field input[type="submit"]:hover{
    background: gray;
}
section .contentBx .formBx .input-field p{
    color: black;
}
section .contentBx .formBx .input-field p a{
    color: cyan;
}

@media (max-width: 775px)
{

}